@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?2q62uk');
    src:url('../fonts/icomoon.eot?#iefix2q62uk') format('embedded-opentype'),
        url('../fonts/icomoon.woff?2q62uk') format('woff'),
        url('../fonts/icomoon.ttf?2q62uk') format('truetype'),
        url('../fonts/icomoon.svg?2q62uk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
    content: "\ea0a";
}

.icon-plus {
    color: #1A619F;
}

.icon-cog:before {
  content: "\e994";
}

.icon-cog {
    color: #B8BCBF;
}

.icon-cross:before {
  content: "\ea0f";
}

.icon-bin:before {
  content: "\e9ac";
}

.down-button {
    z-index: 3;
    position: relative;
    display: block-inline;
    float:right;
}

.dropdown-meno{
  overflow: visible;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
  font-size: 0.8em;
}

a:hover {
  text-decoration: underline;
}

div.row {
    margin-bottom: 1em;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

.title{
  border-bottom: 0px;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.add-source-form {
    padding-left: 1em;
    /*border-left: 1px solid black;*/
}

.add-source-form Input {
  width: auto;
}

.add-source-inputs{
  padding-right: 0px;
}

.side-bar{
  float: right;
}

.remove-tab-button {
    height:1em;
    width:1em;
    float: left;
    font-size:20px;
    position: relative;
}

.remove-tab-button a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    float: left;
    color: red;
}

.remove-tab-name{
  margin: 0 0 0 10px;
  float: left;
  display: inline-block;
}

.news-container {
    /*width:10em;*/
    border: 1px solid blue;
    border-radius: 5px;
    padding-left:0.3em;
    padding-right:0.3em;
    margin:0.3em;
}

.container-title {
    text-align: center;
    border-bottom: 1px solid blue;
}

.feed-item {
    border-bottom: 1px dashed black;
    z-index: -1;
}

.import-export-buttons{
  text-align: center;
}

.delete-button {
    height:1em;
    width:1em;
    float: right;
    position: relative;
    margin-top: 0.4em;
}

.delete-button a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.add-button {
    height:1em;
    width:1em;
    float: right;
    position: fixed;
    font-size:70px;
    bottom: 70px;
    right: 50px;
}

.add-button a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    float: right;
}

.expand-button {
    height:1em;
    width:1em;
    position: relative;
    display: block-inline;
    float:left;
    margin-top: 0.3em;
    margin-right: 0.2em;
    border: 1px dashed blue;
    border-radius: 3px;
}

.expand-button a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
}

.menu-button {
    height:1em;
    width:1em;
    float: right;
    font-size:40px;
    position: relative;
}

.menu-button a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    float: right;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
}
.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
}
.react-draggable {
  position: relative;
}
.react-draggable-active {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-grid-resize-handle {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  line-height: 28px;
  font-size: 20px;
  text-align: right;
  cursor: se-resize;
}
.react-grid-item:hover .react-grid-resize-handle {
  opacity: 1;
}

.log-out-btn {
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 15px;
}

.search-bar {
    overflow:hidden;
    margin:0 auto 0 2em;
    padding:0;
    width:408px;
    height:40px;
    display: inline-block;
} 

